body {
  margin: 0;
  padding: 0;
  color: #e9e9e9;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 300;
}
@font-face {
  font-family: "Bride";
  src: url("./fonts/als-script/alsscrp.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant";
  src: url("./fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.ttf");
  font-weight: 300;
  font-style: normal;
}
.page-container {
  background-image: url("/src/assets/picture1.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 40px 50px 100px 50px;
  filter: grayscale(20%);
  display: flex;
  flex-direction: column;
  gap: 15rem;
}
.section1-container,
.section2-container,
.section3-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.section1-container {
  flex-direction: column-reverse;
}
.text-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}
.wedding-of,
.date {
  letter-spacing: 0.6px;
}
.names {
  font-family: Bride;
  font-style: italic;
}
.header-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}
.bible-verse {
  font-family: Cormorant;
  font-style: italic;
}
.bible-says {
  max-width: 700px;
  letter-spacing: 0.6px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.2rem;
  overflow-wrap: break-word;
}
.bride-groom-container {
  position: relative;
}
.bride {
  font-size: 35px;
}
.groom {
  position: absolute;
  top: 15px;
  font-size: 45px;
}
.groom-profile,
.bride-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  flex-wrap: wrap;
  gap: 2rem;
}
.bride-profile {
  flex-direction: row-reverse;
}
.groom-image,
.bride-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 15px;
}
.profile-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-detail > .name {
  font-size: 30px;
  margin-bottom: 3rem;
  font-family: Cormorant;
}
.profile-detail > p {
  font-size: 13px;
  margin-bottom: 0.25rem;
}

/* table and above */
@media only screen and (min-width: 877px) {
  .wedding-of,
  .date {
    font-size: 18px;
  }
  .names {
    font-size: 65px;
  }
  .bible-verse {
    font-size: 48px;
  }
}
/* below tablet and below */
@media only screen and (max-width: 876px) {
  .wedding-of,
  .date {
    font-size: 16px;
  }
  .page-container {
    gap: 10rem;
  }
  .groom-profile,
  .bride-profile {
    width: 100%;
    justify-content: center;
  }
}
/* smart phone and below */
@media only screen and (max-width: 603px) {
  .wedding-of,
  .date {
    font-size: 12px;
  }
  .names {
    font-size: 43px;
  }
  .bible-verse {
    font-size: 35px;
  }
  .page-container {
    gap: 8rem;
  }
}
